<section class="content-header">
    <h1>
        Pedidos
        <small>Lista de Pedidos {{nombre}}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class><a href="#ventas">Ventas</a></li>
        <li class="active"><a href="#listapedidos">Lista de Pedidos</a></li>
    </ol>
</section>


<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title">
						Cliente
					</h3>
				</div>
				<div class="box-body">
					
				</div>
			</div>
		</div>
	</div>
		<div class="col-xs-12">
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title">
						Detalle de Pedido
					</h3>
				</div>
				<div class="box-body">
					<form role="form" >
						<div class="form-group">
							<label for="numeropedido">Numero pedido: </label>
							<label for=""><strong>0002122</strong></label>
						</div>	
						<div class="form-group">
							<label for=""></label>
						</div>
					</form>

					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>Cód.</th>
								<th>Desc. Prod.</th>
								<th>Cantidad</th>
								<th>Precio Unitario</th>
								<th>Desc(%)</th>
								<th>Importe</th>
								<th>IGV(18%)</th>
								<th>Total</th>
								<th>Estado</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>14111514</td>
								<td>Blocs o cuadernos de papel</td>
								<td>S/. 100</td>
								<td>S/. 4.5</td>
								<td>10%</td>
								<td>S/. 405.00</td>
								<td>S/. 72.9</td>
								<th>S/. 477.9</th>
								<td>Entregado</td>
							</tr>
							<tr>
								<td>14111514</td>
								<td>Blocs o cuadernos de papel</td>
								<td>S/. 100</td>
								<td>S/. 4.5</td>
								<td>10%</td>
								<td>S/. 405.00</td>
								<td>S/. 72.9</td>
								<th>S/. 477.9</th>
								<td>Entregado</td>
							</tr>
							<tr>
								<td>14111514</td>
								<td>Blocs o cuadernos de papel</td>
								<td>S/. 100</td>
								<td>S/. 4.5</td>
								<td>10%</td>
								<td>S/. 405.00</td>
								<td>S/. 72.9</td>
								<th>S/. 477.9</th>
								<td>Entregado</td>
							</tr>
							<tr>
								<td>14111514</td>
								<td>Blocs o cuadernos de papel</td>
								<td>S/. 100</td>
								<td>S/. 4.5</td>
								<td>10%</td>
								<td>S/. 405.00</td>
								<td>S/. 72.9</td>
								<th>S/. 477.9</th>
								<td>Entregado</td>
							</tr>
							<tr>
								<td>14111514</td>
								<td>Blocs o cuadernos de papel</td>
								<td>S/. 100</td>
								<td>S/. 4.5</td>
								<td>10%</td>
								<td>S/. 405.00</td>
								<td>S/. 72.9</td>
								<th>S/. 477.9</th>
								<td>Entregado</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>